<div class="page">
  <div class="page__left-bar">
    <div class="page__left-bar-header">
      <mat-icon class="page__area-image">account_circle</mat-icon>
    </div>
    <div class="page__left-bar-body">
      <form [formGroup]="clientsFormGroup">
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="name"
              spirit="CONTROLS.FullName.name"
            ></app-description>
          </li>
        </ul>
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="surname"
              spirit="CONTROLS.FullName.surname"
            ></app-description>
          </li>
        </ul>

        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="age"
              spirit="CONTROLS.Age.age"
            ></app-description>
          </li>
        </ul>
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="contactNumber"
              spirit="CONTROLS.ContactNumber.contactNumber"
            ></app-description>
          </li>
        </ul>
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="email"
              spirit="CONTROLS.Email.email"
            ></app-description>
          </li>
        </ul>
        <!-- <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="masterId"
              spirit="CONTROLS.MasterId.masterId"
            ></app-description>
          </li>
        </ul> -->
        
      </form><div class="page__footer">
          <button
            mat-stroked-button
            mat-raised-button

            color="warn"
            (click)="edit()"
          >
            {{ "BUTTONS.put" | translate }}
          </button>
          <button *ngIf="currentRole=='Client'" mat-stroked-button mat-button color="warn"  (click)="addTechnic()">
            Добавить технику
          </button>
          <button *ngIf="currentRole=='Client'" mat-stroked-button mat-button color="warn"  (click)="appClient()">
            {{ "BUTTONS.createApplication" | translate }}
          </button>
          <button *ngIf="currentRole=='Master'" mat-stroked-button mat-button color="warn"  (click)="appMaster()">
          {{"BUTTONS.openApplication" | translate}}
          </button>
        </div>
    </div>
  </div>
  <div class="page__right-bar"></div>
</div>
