.page {
  height: 100%;
  width: 1765px;
  display: flex;
  justify-content: space-between;
}
.page__left-bar {
  width: 50%;
  height: 93vh;
}
.page__left-bar-header {
  height: 300px;
  width: 100%;
  background-color: white;
  
}
.page__area-image {
  font-size: 250px;
  margin:20px 0 0 370px;
}
.page__left-bar-body {
}
.page__right-bar {
  width: 50%;
  height: 93vh;
  background-color: aquamarine;
}
