<h3>Add new product</h3>

<form [formGroup]="addForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="price">
      Price
    </label>
    <input id="price" type="text" formControlName="price">
  </div>

  <button class="button" type="submit">Create</button>
  <button class="button" (click)="getBack()">Back</button>

</form>

<mat-form-field class="form-element">
    
</mat-form-field>