<div class="page">
  <div class="page__header"><h1>Добавление техники</h1></div>
  <div class="page__main">
    <form [formGroup]="formGroup">
      <ul>
        <li>
          <app-description
            class="page__form-input"
            formControlName="name"
            spirit="CONTROLS.FullName.nameSecond"
          ></app-description>
        </li>
      </ul>
      <ul>
        <li>
          <app-description
            class="page__form-input"
            formControlName="description"
            spirit="CONTROLS.Description.description"
          ></app-description>
        </li>
      </ul>
      <div class="page__footer">
        <button mat-stroked-button mat-button color="warn" (click)="submit()">
          Sent
        </button>
      </div>
    </form>
  </div>
</div>
