<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Telephone</mat-label>
  <span matPrefix>+3 &nbsp;</span>
  <input
    type="tel"
    [formControl]="contactNumberFormControl"
    [errorStateMatcher]="matcher"
    matInput
    placeholder="+375 29 123 23 23"
    pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
  />
  <mat-icon matSuffix>mode_edit</mat-icon>
  <mat-error *ngIf="contactNumberFormControl.hasError('required')"></mat-error>
</mat-form-field>
