<mat-sidenav-container class="page-container">
  <mat-sidenav
    #sidenav
    class="page__bar-events"
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngIf="part!='CLIENT'">
        <div class="page__list-options" (click)="selectDetails()">
          <mat-icon>arrow_right</mat-icon> Детали
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='CLIENT'">
        <div class="page__list-options" (click)="selectRepairs()">
          <mat-icon>arrow_right</mat-icon> Ремонты
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='CLIENT' && part!='MASTER'">
        <div class="page__list-options" (click)="selectMasters()">
          <mat-icon>arrow_right</mat-icon> Мастера
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='CLIENT' && part!='MASTER'">
        <div class="page__list-options" (click)="selectClients()">
          <mat-icon>arrow_right</mat-icon> Клиенты
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='CLIENT'&& part!='MASTER'">
        <div class="page__list-options" (click)="selectProducts()">
          <mat-icon>arrow_right</mat-icon> Техника
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part=='ADMIN'">
        <div class="page__list-options" (click)="selectReporting()">
          <mat-icon>arrow_right</mat-icon> Отчетность
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='ADMIN'">
        <div class="page__list-options" (click)="myRep()">
          <mat-icon>arrow_right</mat-icon> Мои ремонты
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='ADMIN' && part!='MASTER'" >
        <div class="page__list-options" (click)="myProd()">
          <mat-icon>arrow_right</mat-icon> Мои продукты
        </div>
      </mat-list-option>
      <mat-list-option *ngIf="part!='CLIENT' && part!='MASTER' && part!='ADMIN'" >
        <div class="page__list-options" (click)="never()">
          <mat-icon>arrow_right</mat-icon> Мои продукты
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page_main-header">
      <ng-template #iconTemplate>
        <mat-icon>arrow_right</mat-icon>
      </ng-template>
    </div>
    <div class="page__frame">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
