<div class="page">
    <div class="page__body">
      <form [formGroup]="addClientFormGroup" (ngSubmit)="onSub()">
        <ul>
            <li>
              <app-description
                class="page__form-input"
                formControlName="name"
                spirit="CONTROLS.FullName.name"
              ></app-description>
            </li>
          </ul>
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="surname"
              spirit="CONTROLS.FullName.surname"
            ></app-description>
          </li>
        </ul>
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="age"
              spirit="CONTROLS.Age.age"
            ></app-description>
          </li>
        </ul>
        <ul>
          <li>
            <app-description
              class="page__form-input"
              formControlName="contactNumber"
              spirit="CONTROLS.ContactNumber.contactNumber"
            ></app-description>
          </li>
        </ul>
        <ul>
            <li>
              <app-description
                class="page__form-input"
                formControlName="email"
                spirit="CONTROLS.Email.email"
              ></app-description>
            </li>
          </ul>
          <ul>
            <li>
              <app-description
                class="page__form-input"
                formControlName="masterId"
                spirit="CONTROLS.MasterId.masterId"
              ></app-description>
            </li>
          </ul>
        <div class="page__footer">
          <button mat-raised-button color="primary" type="submit">Add</button>
          <button mat-stroked-button (click)="back()">Back</button>
         
        </div>
      </form>
    </div>
  </div>
  