<div class="page">
  <div class="page__body">
    <form [formGroup]="formGroup" action="" novalidate (ngSubmit)="onSub()">
      <div class="body">
        <div class="page__form">
          <app-description
            class="page__form-input"
            formControlName="name"
            spirit="CONTROLS.FullName.firstName"
          ></app-description>
          <app-description
            class="page__form-input"
            formControlName="surname"
            spirit="CONTROLS.FullName.secondName"
          ></app-description>
          <app-size-input
            class="page__form-input"
            formControlName="age"
            spirit="CONTROLS.Age.age"
          ></app-size-input>
          <app-contact-number
            formControlName="contactNumber"
          ></app-contact-number>
          <app-email-input
            class="page__form-input"
            formControlName="email"
          ></app-email-input>
          <app-password-input
            class="page__form-input"
            formControlName="password"
          ></app-password-input>
        </div>
      </div>
      <div class="page__btn">
        <button mat-raised-button type="submit">ok</button>
      </div>
    </form>
  </div>
</div>
