<div class="page">
  <div class="page__header"><h1>Оформление заказа</h1></div>
  <div class="page__main">
    <form [formGroup]="formGroup">
      <ul>
        <li>
          <app-description
            class="page__form-input"
            formControlName="name"
            spirit="CONTROLS.FullName.nameSecond"
          ></app-description>
        </li>
      </ul>

      <ul>
        <li>
          <app-date
            class="page__form-input"
            formControlName="date"
            spirit="CONTROLS.Date.date"
          ></app-date>
        </li>
      </ul>
      <ul>
        <li>
          <app-description
            class="page__form-input"
            formControlName="advancedInfo"
            spirit="CONTROLS.Description.description"
          ></app-description>
        </li>
      </ul>
      <ul>
        <li>
          <div class="page__main-technic">
            <div class="page__main-technic-choose"*ngIf="part!='CLIENT'">
              <app-multi-select  class="page__form-input"></app-multi-select>
            </div>
            <app-multi-select-product  class="page__form-input"  formControlName="product"
            [allList]="listProducts"
            ></app-multi-select-product>
            <!-- <div class="page__main-technic-create">
              <button mat-stroked-button mat-button color="warn" (click)="addTechnic()">
                Добавить технику
              </button>
            </div> -->
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <mat-slide-toggle
            [checked]="checked"
            class="page__form-input"
            formControlName="diagnostic"
            >{{
              "CONTROLS.Diagnostic.diagnostic" | translate
            }}</mat-slide-toggle
          >
        </li>
      </ul>
      <div class="page__footer">
        <button mat-stroked-button mat-button color="warn" (click)="submit()">
          Sent
        </button>
      </div>
    </form>
  </div>
</div>
